# SPDX-FileCopyrightText:  Copyright 2025 Anthony Green
# SPDX-License-Identifier: MIT
#
# Project:  openldk
# File:     test.yml
# Date:     2025-01-02
#
# ==============================================================================

name: Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Java 8
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '8'

      - name: Setup SBCL and ocicl (Linux)
        if: runner.os == 'Linux'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install sbcl ocicl dejagnu
          ocicl setup >> ~/.sbclrc

      - name: Setup SBCL and ocicl (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install sbcl ocicl dejagnu
          ocicl setup >> ~/.sbclrc

      - uses: actions/cache@v4
        with:
          path: |
            systems
            ~/.cache/common-lisp
          key: ${{ runner.os }}-ocicl-${{ hashFiles('systems.csv') }}
          restore-keys: |
            ${{ runner.os }}-ocicl-

#      - name: Install dependencies
#        run: |
#          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
#          ocicl install

      - name: Build (Linux)
        if: runner.os == 'Linux'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          export JAVA_HOME=/usr/lib/jvm/temurin-8-jdk-amd64/jre
          make

      - name: Build (macOS)
        if: runner.os == 'macOS'
        run: |
          export JAVA_HOME=$JAVA_HOME_8_X64
          make

#      - name: Partial Test
#        run: |
#          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
#          export JAVA_HOME=/usr/lib/jvm/temurin-8-jdk-amd64/jre
#          make check RUNTESTFLAGS="-v run.exp gcj.exp jikestst.exp"
